/loans/target/*
/docker-compose/default/.data/minio/.minio.sys/buckets/.bloomcycle.bin/xl.meta
/docker-compose/default/.data/minio/.minio.sys/buckets/.usage.json/xl.meta
/docker-compose/default/.data/minio/.minio.sys/buckets/.usage-cache.bin/xl.meta
/docker-compose/default/.data/minio/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
/docker-compose/default/.data/minio/.minio.sys/buckets/loki-data/.usage-cache.bin/xl.meta
/docker-compose/default/.data/minio/.minio.sys/buckets/loki-data/.usage-cache.bin.bkp/xl.meta
/docker-compose/default/.data/minio/.minio.sys/buckets/loki-ruler/.usage-cache.bin/xl.meta
/docker-compose/default/.data/minio/.minio.sys/buckets/loki-ruler/.usage-cache.bin.bkp/xl.meta
/docker-compose/default/.data/minio/.minio.sys/config/config.json/xl.meta
/docker-compose/default/.data/minio/.minio.sys/config/iam/format.json/xl.meta
/docker-compose/default/.data/minio/.minio.sys/pool.bin/xl.meta
/docker-compose/default/.data/minio/.minio.sys/tmp/1c9c13c8-cf75-465c-81c7-82c28f66e848
/docker-compose/default/.data/minio/.minio.sys/format.json
/docker-compose/default/.data/minio/loki-data/loki_cluster_seed.json/xl.meta
